{{!-- MULTIPLE BOOKS DISPLAYED, FOR EXAMPLE: AFTER THE USER PERFORMS A SEARCH --}}
{{#extend "loggedIn"}}
{{#content "content"}}
<div class="container mt-3">
    <div class="row">
        <a href="/books/new" class="btn btn-primary text-white"><i class="fas fa-plus"></i>
                Add new book</a>
        {{#each books as |book|}}
        <div class="booksList">
            <a href="/books/{{this._id}}"><img src={{this.image}} alt={{this.title}} class="image"></a>
            <div>
                <a href="/books/{{this._id}}">
                    <h1 class="bookTitle">Title: {{this.title}} </h1>
                </a>
                <h2 class="author">Author: {{this.author}} </h2>
                {{#if book.rating}}
                <p class="rating">Rating: {{this.rating}} </p>
                {{/if}}
                {{#if book.review}}
                <p class="review">Latest Review:
                    {{#each book.review}}
                    {{#if @last}}{{this}}{{/if}}
                    {{/each}}
                </p>
                {{/if}}
                {{#if this.tags}}
                <p class="tags">Tags: {{#each book.tags}}<span class="oneTag">{{this}}</span> {{/each}} </p>
                {{else}}
                <p>No tags</p>
                {{/if}}
                <button class="{{book._id}} btn btn-danger glyphicon glyphicon-trash deleteBook"><i class="far fa-trash-alt"></i>
                    Delete</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{#if hasErrors}}
    <div class="alert alert-danger error-list" role="alert">
        {{error}}
    </div>
    {{/if}}
</div>

{{/content}}
{{#content "scripts" mode="append"}}
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js"></script>
<script src="/public/scripts/books.js"></script>
{{/content}}
{{/extend}}