{{!-- PAGE FOR A SINGLE BOOK, WHEN USER CLICKS ON A BOOK --}}
{{#extend "loggedIn"}}
{{#content "content"}}
<div class="container mt-3">
    <div class="row">
        <p><a href="/books">Books</a> <i class="fas fa-angle-right"> <i>{{bookTitle}}</i></i></p>
        {{!-- <button type="button" class="btn btn-primary" id="addNewBook"><a href="/books/new" class="text-white">Add
                new book</a></button> --}}
        <div class="bookInfo">
            <div class="bookText">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add
                        Book
                        to
                        bookshelf</button>
                <h1 class="bookTitle" id={{_id}}> {{bookTitle}} </h1>
                <h5 id="author"> by {{author}} </h5>
                {{#if rating}}
                <p id="bookRating">Rating: {{rating}}</p>
                {{/if}}
                {{#if review}}
                <h3>Reviews:</h3>
                {{#each review}}
                <div class="review">
                    <div>{{this.reviewBody}}</div>

                    <p>by <a href="/user/{{this.userProfile.userUsername}}">{{this.userProfile.userFirstName}}
                            {{this.userProfile.userLastName}}</a></p>
                    {{#ifCompare this.userProfile.userId false}}
                    <button id={{this._id}} class="fa fa-thumbs-up reviewLike">{{#if
                        this.likes}}{{this.likes.count}}{{else}}
                        0 {{/if}}</button>
                    {{/ifCompare}}
                    {{#ifCompare this.userProfile.userId true}}
                    <button id={{this._id}} disabled="true" class="fa fa-thumbs-up reviewLike">{{#if
                        this.likes}}{{this.likes.count}}{{else}}
                        0 {{/if}}</button>
                    {{/ifCompare}}
                </div>
                {{/each}}
                {{else}}
                <p>No reviews yet for this book</p>
                {{/if}}

                <form id="newreview" action="/review" method="POST">
                    <h3>Write your own review:</h3>
                    {{#if review}}
                    {{#ifCompare alreadyRated false}}
                    <div class="form-group reviewsPresent">
                        <span>Rating:</span>
                        <label><input type="radio" name="book-rating" value="1" required /> 1</label>
                        <label><input type="radio" name="book-rating" value="2" required /> 2</label>
                        <label><input type="radio" name="book-rating" value="3" required /> 3</label>
                        <label><input type="radio" name="book-rating" value="4" required /> 4</label>
                        <label><input type="radio" name="book-rating" value="5" required /> 5</label>
                    </div>
                    {{/ifCompare}}
                    {{#ifCompare alreadyRated true}}
                    <div class="form-group disabledRating">
                        <span>Rating:</span>
                        <label><input type="radio" name="book-rating" value="1" disabled=true /> 1</label>
                        <label><input type="radio" name="book-rating" value="2" disabled=true /> 2</label>
                        <label><input type="radio" name="book-rating" value="3" disabled=true /> 3</label>
                        <label><input type="radio" name="book-rating" value="4" disabled=true /> 4</label>
                        <label><input type="radio" name="book-rating" value="5" disabled=true /> 5</label>
                    </div>
                    {{/ifCompare}}
                    {{else}}
                    <div class="form-group reviewsAbsent">
                        <span>Rating:</span>
                        <label><input type="radio" name="book-rating" value="1" required /> 1</label>
                        <label><input type="radio" name="book-rating" value="2" required /> 2</label>
                        <label><input type="radio" name="book-rating" value="3" required /> 3</label>
                        <label><input type="radio" name="book-rating" value="4" required /> 4</label>
                        <label><input type="radio" name="book-rating" value="5" required /> 5</label>
                    </div>
                    {{/if}}
                    <div class="form-group">
                        <input type="hidden" value={{_id}} name="bookId" />
                        <textarea name="reviewText" cols="50" rows="10" required></textarea>
                    </div>
                    <button type="submit" value="submit" class="btn btn-secondary">Write review</button>
                </form>
            </div>

            <div id="wrapper"style="float: right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add Book to bookshelf</button>
                <div class="block">
                    <img class="bookImage" src="{{image}}" alt="cover of this book">
                </div>
<<<<<<< HEAD
                {{!-- <div class="block">
                    
                </div> --}}
=======
>>>>>>> ada1a0d2e184b824419ce2e93b6bc695de43f633
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Select the bookshelf to add the book to</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form>
                            <div class="modal-body">
                                {{#if bookshelves.length}}
                                {{#each bookshelves}}
                                <div class="form-group">
                                    <label><input type="radio" name="selectedBookshelf" value="{{this.name}}" required />
                                        {{this.name}}</label>
                                </div>
                                {{/each}}
                                {{/if}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button id="addBook" class="btn btn-primary" type="submit" value="submit">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/content}}
{{#content "styles" mode="append"}}
<!-- private styles -->
<link rel="stylesheet" href="/public/css/style.css">
{{/content}}
{{#content "scripts" mode="append"}}
<script src="/public/scripts/reviewLikes.js"></script>
<script src="/public/scripts/books.js"></script>
{{/content}}
{{/extend}}