{{!-- MULTIPLE BOOKS DISPLAYED, FOR EXAMPLE: AFTER THE USER PERFORMS A SEARCH --}}
{{#extend "loggedIn"}}
    {{#content "content"}}
    <div class="container mt-3">
        <div class="row">
            <button type="button" class="btn btn-primary"><a href="/books/new" class="text-white"><i class="fas fa-plus"></i> Add new book</a></button>
                {{#each books as |book|}}
                <div id="booksList">
                    <img src={{this.image}} alt={{this.title}} class="image">
                    <div>
                        <a href="/books/{{this._id}}"><h1 id="bookTitle">Title: {{this.title}} </h1></a>
                        <h2 id="author">Author: {{this.author}} </h2>
                        <p id="rating">Rating: {{this.rating}} </p>
                        <p id="review">Latest Review: {{this.review}} </p>
                        {{#if this.tags}}
                        <p id="tags">Tags: {{#each book.tags}}<span class="oneTag">{{this}}</span> {{/each}} </p>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
        </div>
    </div>
    {{/content}}
{{/extend}}