{{!-- PAGE FOR A SINGLE BOOK, WHEN USER CLICKS ON A BOOK --}}
{{#extend "loggedIn"}}
{{#content "content"}}
<div class="container mt-3">
    <div class="row">
        <a href="/bookshelves"><i class="fas fa-arrow-left"></i> Back to all books</a>
        {{!-- <button type="button" class="btn btn-primary" id="addNewBook"><a href="/books/new" class="text-white">Add new book</a></button> --}}
        <div class="bookInfo">
            <div class="bookText">
                <h1 class="bookTitle" id={{_id}}> {{title}} </h1>
                <h2 id="author"> {{author}} </h2>
                <p>Rating: {{rating}}</p>
                <h3>Reviews:</h3>
                {{#each review}}
                <div class="review">
                    <article>{{this.reviewBody}}</article>
                    <p>by <a href="/user/profile">{{this.userProfile.userFirstName}} {{this.userProfile.userLastName}}</a></p>
                    
                    <button id={{this._id}} class="fa fa-thumbs-up reviewLike">{{#if this.likes}}{{this.likes}}{{else}} 0 {{/if}}</button>
                </div>
                
                {{/each}}
                
                <form id="newreview" action="/review" method="POST">
                    <h3>Write your own review:</h3>
                    <div class="form-group">
                        <label>Rating:
                            <input type="radio" name="book-rating" value="1" checked/> 1
                            <input type="radio" name="book-rating" value="2" /> 2
                            <input type="radio" name="book-rating" value="3" /> 3
                            <input type="radio" name="book-rating" value="4" /> 4
                            <input type="radio" name="book-rating" value="5" /> 5
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="hidden" value={{_id}} name="bookId" />
                        <textarea name="reviewText" cols="50" rows="10"></textarea>
                    </div>
                    <button type="submit" value="submit">Write review</button>
                </form>
            </div>
            <img src="{{image}}" alt="Card image cap">
        </div>
    </div>
</div>
{{/content}}
{{#content "scripts" mode="append"}}
  <script src="/public/scripts/reviewLikes.js"></script>
{{/content}}
{{/extend}}