{{!-- PAGE FOR A SINGLE BOOK, WHEN USER CLICKS ON A BOOK --}}
{{#extend "layout"}}
    {{#content "content"}}
    <button type="button" class="btn btn-primary"><a href="/books/new" class="text-white">Add new book</a></button>
        <div>
            <h1 id="bookTitle"> {{title}} </h1>
            <h2 id="author"> {{author}} </h2>
            <p>Rating: {{rating}}</p>
            {{#each book}}
                <p id="review">
                    {{this.review}}
                </p>
            {{/each}}
            {{#if loggedIn}}
                <button> Write review </button>
            {{/if}}
            <img src= {{image}}>
        </div>
    {{/content}}
{{/extend}}