{{!-- USER PROFILE PAGE --}}
{{#extend "layout"}}
{{#content "content"}}
<div class="logged-in-class">
  <h1>{{title}}</h1>
  <br>
  {{#with user}}
  <div class="user-data-class">
    <p>{{firstname}} {{lastname}}</p>
    {{#if bookshelves.length}}
      <ul><h2>Bookshelves:</h2>
        {{#each bookshelves}}
          <li><a href="#">{{this.name}}</a></li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
  {{/with}}
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" id="addShelf">
  Add bookshelf
</button>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://vignette.wikia.nocookie.net/bungostraydogs/images/1/1e/Profile-icon-9.png/revision/latest?cb=20171030104015"
    alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Hi there, {{firstName}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="logout-user">
  <a class="fixed" href="/logout">LogOut</a>
</div>
{{/content}}
{{#content "scripts" mode="append"}}
  <script src="public/scripts/index.js"></script>
{{/content}}
{{/extend}}