{{#extend "loggedIn"}}
    {{#content "content"}}
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-3">
                    <div class="small-12 medium-2 large-2 columns">
                        <div class="text-center avatar rounded-circle m-auto">
                            <!-- User Profile Image -->
                            {{#if feed_user.image}}
                              <img class="profile-pic" src="/{{feed_user.image}}" alt="Card image cap">
                            {{else}}
                            <img class="profile-pic" src="https://placeimg.com/444/444" alt="Card image cap">
                            {{/if}}
                            <!-- Default Image -->
                            <!-- <i class="fa fa-user fa-5x"></i> -->
                        </div>
                    </div>
                    <div class="p-image">
                        <i class="fa fa-camera upload-button"></i>
                            <input class="file-upload" type="file" accept="image/*"/>
                    </div>
                    <div class="pl-2 pt-2">
                        <br>
                        <h4 class="card-title text-left">{{feed_user.firstname}} {{feed_user.lastname}}</h4>
                        <hr>
                        <dl class="text-secondary">
                            <dt> Username: </dt>
                            <dd>{{feed_user.username}}</dd>
                            <dt>Email: </dt>
                            <dd>{{feed_user.email}}</dd>
                        </dl>
                        
                    </div>
                </div>
                <div class="col-md-5 px-2 mt-7">
                    {{#if isMe}}
                        <h1>Welcome {{feed_user.firstname}}</h1>
                    {{else}}
                        <h1>You are viewing {{feed_user.firstname}}'s profile</h1>
                    {{/if}}
                    <br>
                    <div class="user-data-class">
                        {{#if feed_user.bookshelves.length}}
                        <br>
                            <h5><a class="user-bookshelf" href="/bookshelves/{{feed_user.username}}">{{feed_user.firstname}}'s Bookshelves</a></h5>
                            <hr>
                            <ul class="my-bookshelf">
                            {{#each feed_user.bookshelves}}
                                <li>{{this.name}}({{this.books.length}})</li>
                            {{/each}}
                            </ul>
                            <div class="user-books-details">
                             <h5><a href="/bookshelves/{{feed_user.username}}">{{feed_user.firstname}} has finsihed reading</a></h5>
                             <hr>
                              <ul>
                                {{#each feed_user.bookshelves.[0].books}}    
                                    <li><a href="/books/{{this._id}}"><h5>{{this.title}}</h5></a>
                                    <img class="card-img-top2" src="{{image}}" alt="Card image cap"></li>
                                {{/each}}
                              </ul>
                              <h5><a href="/bookshelves/{{feed_user.username}}">{{feed_user.firstname}} is currently reading</a></h5>
                              <hr>
                              <ul>
                                {{#each feed_user.bookshelves.[1].books}}    
                                    <li><a href="/books/{{this._id}}"><h5>{{this.title}}</h5></a>
                                    <img class="card-img-top2" src="{{image}}" alt="Card image cap"></li>
                                {{/each}}
                             </ul>
                             <h5><a href="/bookshelves/{{feed_user.username}}">{{feed_user.firstname}} wants to read</a></h5>
                             <hr>
                               <ul>
                                {{#each feed_user.bookshelves.[2].books}}    
                                    <li><a href="/books/{{this._id}}"><h5>{{this.title}}</h5></a>
                                    <img class="card-img-top2" src="{{image}}" alt="Card image cap"></li>
                                {{/each}}
                             </ul>
                             <h5>{{feed_user.firstname}}'s Latest Updates</h5>
                             <hr>
                             {{#if followingUserArray.length}}
                                <h6>{{feed_user.firstname}} Recently Followed </h6>
                                <ul>
                                    {{#each followingUserArray}}
                                        <li><a href="/timeline/{{this}}">{{this}}</a></li>
                                    {{/each}}
                                </ul>                            
                             {{/if}}   
                        </div>
                      {{/if}}
                    </div>
                </div>
                <div class="col-md-3 mt-2">
                    {{#if isMe}}
                    <button type="button" class="btn btn-primary" id="addShelf">
                    Add bookshelf
                    </button> 
                    {{/if}}
                    <br>
                    <h5><a href="/bookshelves">Books uploaded by {{feed_user.firstname}}</h5></a>
                            {{#each feed_user.bookshelves}}    
                                {{#each this.books}}
                                <ul>
                                    <li><a href="/books/{{this._id}}"><h5>{{this.title}}</h5></a></li>
                                </ul>
                                {{/each}}
                            {{/each}} 
                </div>
            </div>

        </div>
{{/content}}
{{#content "scripts" mode="append"}}
  <script src="/public/scripts/bookshelf.js"></script>
  <script src="/public/scripts/bookshelves.js"></script>
  <script src="/public/scripts/updateProfilePicture.js"></script>
{{/content}}
{{/extend}}