{{#extend "loggedIn"}}
    {{#content "content"}}
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-3">
                    <div class="small-12 medium-2 large-2 columns">
                        <div class="circle">
                            <!-- User Profile Image -->
                            {{#if user.image}}
                              <img class="profile-pic" src="/{{user.image}}">
                            {{else}}
                            <img class="profile-pic" src="https://placeimg.com/444/444">
                            {{/if}}
                            <!-- Default Image -->
                            <!-- <i class="fa fa-user fa-5x"></i> -->
                        </div>
                    </div>
                    <div class="p-image">
                        <i class="fa fa-camera upload-button"></i>
                            <input class="file-upload" type="file" accept="image/*"/>
                    </div>
                    <dl class="text-secondary">
                        <dd>Username: {{user.username}}</dd>
                        <dd>Email: {{user.email}}</dd>
                    </dl>
                </div>
                <div class="col-md-5 px-2 mt-7">
                    <h1>Welcome {{user.firstname}}</h1>
                    <br>
                    <div class="user-data-class">
                        {{#if user.bookshelves.length}}
                        <br>
                            <ul class="my-bookshelf"><h5><a class="user-bookshelf" href="/bookshelves">{{firstName}}'s Bookshelves</a></h5>
                            <hr>
                            {{#each user.bookshelves}}
                            <ul>
                                <li>{{this.name}}({{this.books.length}})</li>
                            </ul>
                            {{/each}}
                            </ul>
                            <div class="user-books-details">
                              <ul><h5><a href="/read">{{firstName}} has finsihed reading</a><h5></h5>
                              <hr>
                                {{#each user.bookshelves.[0].books}}    
                                <ul>
                                    <li><a href="#"><h5>{{this.title}}</h5></a></li>
                                    <img class="card-img-top2" src="{{image}}" alt="Card image cap">
                                </ul>
                                {{/each}}
                              </ul>
                            <ul><h5><a href="/currentlyreading">{{firstName}} is currently reading</a><h5></h5>
                            <hr>
                                {{#each user.bookshelves.[1].books}}    
                                <ul>
                                    <li><a href="#"><h5>{{this.title}}</h5></a></li>
                                    <img class="card-img-top2" src="{{image}}" alt="Card image cap">
                                </ul>
                            {{/each}}
                            </ul>
                            <ul><h5>{{firstName}}'s Latest Updates</h5>
                            <hr>
                                 <h6>{{firstName}} recently followed </h6>
                            </ul>
                            
                    </div>
                        {{/if}}
                    </div>
                    <button type="button" class="btn btn-primary" id="addShelf">
                    Add bookshelf
                    </button>       
                </div>
                <div class="col-md-4 mt-2">
                    <h5><a href="/bookshelves">Books uploaded by {{firstName}}</h5></a>
                            {{#each user.bookshelves}}    
                                {{#each this.books}}
                                <ul>
                                    <li><a href="#"><h5>{{this.title}}</h5></a></li>
                                </ul>
                                {{/each}}
                            {{/each}}
                        
                </div>
            </div>

        </div>
{{/content}}
{{#content "scripts" mode="append"}}
  <script src="/public/scripts/bookshelf.js"></script>
  <script src="/public/scripts/bookshelves.js"></script>
  <script src="/public/scripts/updateProfilePicture.js"></script>
{{/content}}
{{/extend}}