{{#extend "loggedIn"}}
{{#content 'styles' mode='append'}}
<link rel="stylesheet" href="/public/css/search.css">
{{/content}}
{{#content 'content'}}
<div class="container">
    {{!-- {{#if empty}}
    <div class="jumbotron mt-3">
        <h1 class="display-4">No Result</h1>
        <p class="lead">Sorry, nothing found related to "{{query_str}}"</p>
        <hr class="my-4">
        <p>Please try to search with other key words.</p>
        <a class="btn btn-primary" href="/" role="button">Home</a>
    </div>
    {{else}} --}}
        <div class="jumbotron mt-3">
            <h1 class="display-4">Books</h1>
            <p class="lead">Result of "{{query_str}}"</p>
            <div class="p-3 bg-white rounded form form-inline" id="check-form" data-query="{{query_str}}">
                <div class="custom-control custom-checkbox mr-4">
                    <input type="checkbox" class="custom-control-input tag-check" value="all" id="all" {{#unless tags.length}} checked disabled{{/unless}}>
                    <label class="custom-control-label" for="all">All</label>
                </div>
                <div class="custom-control custom-checkbox mr-4">
                    <input type="checkbox" class="custom-control-input tag-check" value="Thriller" id="Thriller" {{#inArray tags "Thriller"}} checked {{/inArray}}>
                    <label class="custom-control-label" for="Thriller">Non-fiction</label>
                </div>
                <div class="custom-control custom-checkbox mr-4">
                    <input type="checkbox" class="custom-control-input tag-check" value="Horror" id="Horror" {{#inArray tags "Horror"}} checked {{/inArray}}>
                    <label class="custom-control-label" for="Horror">Fiction</label>
                </div>
                <div class="custom-control custom-checkbox mr-4">
                    <input type="checkbox" class="custom-control-input tag-check" value="Comedy" id="Comedy" {{#inArray tags "Comedy"}} checked {{/inArray}}>
                    <label class="custom-control-label" for="Comedy">Drama</label>
                </div>
                <div class="custom-control custom-checkbox mr-4">
                    <input type="checkbox" class="custom-control-input tag-check" value="Sci-Fi" id="Sci-Fi" {{#inArray tags "Sci-Fi"}} checked {{/inArray}}>
                    <label class="custom-control-label" for="Sci-Fi">Sci-Fi</label>
                </div>
                <div class="custom-control custom-checkbox mr-4">
                    <input type="checkbox" class="custom-control-input tag-check" value="Romance" id="Romance" {{#inArray tags "Romance"}} checked {{/inArray}}>
                    <label class="custom-control-label" for="Romance">Romance</label>
                </div>
                <div class="custom-control custom-checkbox mr-4">
                    <input type="checkbox" class="custom-control-input tag-check" value="Mystery" id="Mystery" {{#inArray tags "Mystery"}} checked {{/inArray}}>
                    <label class="custom-control-label" for="Mystery">Mystery</label>
                </div>
                <div class="custom-control custom-checkbox mr-4">
                    <input type="checkbox" class="custom-control-input tag-check" value="Religion" id="Religion" {{#inArray tags "Religion"}} checked {{/inArray}}>
                    <label class="custom-control-label" for="Religion">Religion</label>
                </div>
                <div class="custom-control custom-checkbox mr-4">
                    <input type="checkbox" class="custom-control-input tag-check" value="Childrens" id="Childrens" {{#inArray tags "Childrens"}} checked {{/inArray}}>
                    <label class="custom-control-label" for="Childrens">Children's</label>
                </div>
                <div class="custom-control custom-checkbox mr-4">
                    <input type="checkbox" class="custom-control-input tag-check" value="Poetry" id="Poetry" {{#inArray tags "Poetry"}} checked {{/inArray}}>
                    <label class="custom-control-label" for="Poetry">Poetry</label>
                </div>
                <div class="custom-control custom-checkbox mr-4">
                    <input type="checkbox" class="custom-control-input tag-check" value="Biography" id="Biography" {{#inArray tags "Biography"}} checked {{/inArray}}>
                    <label class="custom-control-label" for="Biography">Biography</label>
                </div>
            </div>
            <hr class="my-4">
            {{#if books}}
            <ul class="list-unstyled">
            {{#each books}}
                <li class="media bg-white shadow rounded p-2 mt-3">
                    <div class="img-thumbnail mr-3 book-cover d-flex align-items-center justify-content-center">
                        <img class="img-fluid mt-auto mb-auto ml-0 mr-0" src="{{#if this.image}}{{this.image}}{{else}}https://placeimg.com/480/480/any{{/if}}" alt="Generic placeholder image">
                    </div>
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">{{this.title}}</h5>
                        <div>
                            <p>
                                Author: {{this.author}}
                            </p>
                        </div>
                        <div>
                            <a href="/books/{{this._id}}" class="btn btn-outline-primary">Detail</a>
                        </div>
                    </div>
                </li>
            {{/each}}
            </ul>
            {{else}}
            <p class="lead">No result for "{{query_str}}" in Books</p>
            {{/if}}
        </div>

        {{#if users}}
        <div class="jumbotron mt-3">
            <h1 class="display-4">Users</h1>
            <p class="lead">Result of {{query_str}}</p>
            <hr class="my-4">
            <ul class="list-unstyled">
            {{#each users}}
                <li class="media bg-white shadow rounded p-2 mt-3">
                    <div class="img-thumbnail mr-3 user-avatar d-flex align-items-center">
                        <img class="img-fluid mt-auto mb-auto ml-0 mr-0" src="{{#if this.image}}/{{this.image}}{{else}}https://placeimg.com/480/480/any{{/if}}" alt="Generic placeholder image">
                    </div>
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">{{this.username}}</h5>
                        <div>
                            <a href="/timeline/{{this.username}}" class="btn btn-outline-primary">View</a>
                        </div>
                    </div>
                </li>
            {{/each}}
            </ul>
        </div>
        {{/if}}
    {{!-- {{/if}} --}}
</div>
{{/content}}
{{#content "scripts" mode="append"}}
<script src="/public/scripts/search.js"></script>
{{/content}}
{{/extend}}