{{#extend "loggedIn"}}
    {{#content "head" mode="append"}}
        <link rel="stylesheet" href="/public/css/newsfeed.css">
        <!-- Theme included stylesheets -->
        <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
    {{/content}}
    {{#content "content"}}
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-2">
                    <div class="text-center">
                        <img class="avatar img-thumbnail rounded-circle" src="https://placeimg.com/480/480/any" alt="Card image cap">
                    </div>
                    <div class="pl-2 pt-2">
                        {{#with feed_user}}
                        <h4 class="card-title text-center">{{firstname}}<small class="text-center"> ({{username}})</small></h4>
                        {{/with}}
                        <hr>
                        <dl class="text-secondary">
                            <dd><i class="text-secondary fas fa-user-friends"></i> Following: {{feed_user.following.length}}</dd>
                            <dd><i class="text-secondary fas fa-users"></i> Followers: {{feed_user.followers.length}}</dd>
                        </dl>
                        {{#if isMe}}
                        <a href="/user/profile" class="btn btn-block btn-outline-primary">Profile</a>
                        {{else}}

                        <button id="unfollowBtn" data-username="{{feed_user.username}}" type="button" class="{{#unless followed}}d-none{{/unless}} btn btn-block btn-outline-danger">Unfollow</button>
                        <button id="followBtn" data-username="{{feed_user.username}}" type="button" class="{{#if followed}}d-none{{/if}} btn btn-block btn-outline-primary">Follow</button>
                        <button id="sendMsgBtn" type="button" class="btn btn-block btn-outline-dark">Send Message</button>
                        {{/if}}
                    </div>
                </div>
                <div class="col-md-7 px-4 mt-2">
                    <div class="p-3 bg-light rounded">
                        {{#if isMe}}
                        <div class="form-group">
                            <div id="editor"></div>
                            <div class="d-flex justify-content-end align-items-center mt-2">
                                <div id="toolbar-container">
                                    <span class="ql-formats">
                                        <button class="ql-link"></button>
                                        <button class="ql-image"></button>
                                        <button class="ql-video"></button>
                                    </span>
                                </div>
                                <button id="postBtn" class="btn btn-outline-primary">Post</button>
                            </div>
                        </div>
                        {{/if}}
                        <ul class="list-unstyled feeds-list">
                            {{!-- <li class="media my-4">
                                <img class="mr-3 rounded" src="https://placeimg.com/480/480/people" alt="Generic placeholder image">
                                <div class="media-body">
                                <h5 class="mt-0 mb-1">List-based media object</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                </div>
                            </li>
                            <li class="media my-4">
                                <img class="mr-3 rounded" src="https://placeimg.com/480/480/animals" alt="Generic placeholder image">
                                <div class="media-body">
                                <h5 class="mt-0 mb-1">List-based media object</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                </div>
                            </li>
                            <li class="media my-4">
                                <img class="mr-3 rounded" src="https://placeimg.com/480/480/nature" alt="Generic placeholder image">
                                <div class="media-body">
                                <h5 class="mt-0 mb-1">List-based media object</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                </div> --}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 mt-2">
                    <div id="list-example" class="list-group">
                        <a class="list-group-item list-group-item-action" href="###"> <i class="far fa-comments"></i> Reviews</a>
                        <a class="list-group-item list-group-item-action" href="###"> <i class="far fa-heart"></i> Favorites</a>
                        <a class="list-group-item list-group-item-action" href="###"> <i class="fas fa-book"></i> Readings</a>
                    </div>
                </div>
            </div>
        </div>
        <template id="media-object-template">
            <li class="media my-4 p-3 bg-white rounded">
                <img class="mr-3 rounded avatar" src="https://placeimg.com/480/480/people" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 mb-1 username"></h5>
                    <div class="content"></div>
                </div>
                <small class="time"></small>
            </li>
        </template>
    {{/content}}
    {{#content "scripts" mode="append"}}
        <!-- Global Variables -->
        <script>
            var username = "{{feed_user.username}}"
        </script>
    
        <!-- Main Quill library -->
        <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
        <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        {{#if isMe}}
        <script src="/public/scripts/myTimeline.js"></script>
        {{else}}
        <script src="/public/scripts/timeline.js"></script>
        {{/if}}
    {{/content}}
{{/extend}}