{{!-- MULTIPLE BOOKSHELVES DISPLAYED --}}
{{#extend "loggedIn"}}
{{#content "content"}}
<div class="container mt-3">
    <div class="row">
        <a href="/bookshelves/new" class="btn btn-primary"><i class="fas fa-plus"></i> Add bookshelf</a>
        {{#if bookshelves.length}} 
        <ul class="bookshelves">
            <h1>Bookshelves:</h1>
            
            <div>
            {{#each bookshelves}}
            <h2>{{this.name}}</h2>
            <div class="row">
                
                <div id="{{this.name}}" class="col-md-12 col-md-offset-1" style="float:right; bottom: 10px;z-index: 999;">
                    <button class="btn btn-warning glyphicon glyphicon-pencil btnEdit"><i class="fas fa-plus"></i> Add Books</button>
                    <button class="btn btn-danger glyphicon glyphicon-trash btnExc"><i class="far fa-trash-alt"></i> Delete</button>
                </div>
            </div>
                {{#if this.books.length}}
                {{#each books as |book|}}
                <div class="card" style="width: 18rem;">
                    <a href="/books/{{this._id}}"><img class="card-img-top" src="{{image}}" alt="Card image cap"></a>
                    <div class="card-body">
                        <h1><a href="/books/{{this._id}}" id="bookTitle"> {{this.title}} </a></h1>
                        <h2 id="author"> {{this.author}} </h2>
                        <p>Rating: {{this.rating}}</p> 
                        {{#if this.tags}}
                            <p id="tags">Tags: {{#each book.tags}}<span class="oneTag">{{this}}</span> {{/each}} </p>
                        {{/if}}
                              
                    </div>
                </div>
                {{/each}}
                {{/if}}
        
            {{/each}}
        </ul>
        {{/if}}
    </div>
</div>
{{/content}}
{{#content "scripts" mode="append"}}
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js"></script>
        <script src="/public/scripts/bookshelves.js"></script>
{{/content}}
{{/extend}}