{{!-- MULTIPLE BOOKSHELVES DISPLAYED --}}
{{#extend "loggedIn"}}
{{#content "content"}}
{{#if bookshelves.length}} 
<ul class="bookshelves">
    <h1>Bookshelves:</h1>

    
    <div>
    {{#each bookshelves}}
    <div class="row">
        <li><h2>{{this.name}}</h2></li>
        <div id="{{this.name}}" class="col-md-12 col-md-offset-1" style="float:right; bottom: 10px;z-index: 999;">
            <button class="btn btn-lg btn-warning glyphicon glyphicon-pencil btnEdit">Add Books</button>
            <button class="btn btn-lg btn-danger glyphicon glyphicon-trash btnExc">Delete</button>
        </div>
	</div>
        {{#if this.books.length}}
        {{#each this.books}}
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{image}}" alt="Card image cap">
        <div class="card-body">
            <a href="/books/{{this._id}}" id="bookTitle"> {{this.title}} </a>
            <h3 id="author"> {{this.author}} </h2>
            <p>Rating: {{this.rating}}</p>           
        </div>
        </div>
        {{/each}}
        {{/if}}
 
    {{/each}}
</ul>
{{/if}}

<a href="/bookshelves/new">Add bookshelf</a>
{{/content}}
{{#content "scripts" mode="append"}}
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js"></script>
        <script src="/public/scripts/index.js"></script>
{{/content}}
{{/extend}}