{{!-- MULTIPLE BOOKSHELVES DISPLAYED --}}
{{#extend "loggedIn"}}
{{#content "content"}}
<div class="container mt-3">
    <div class="row">
        <a href="/bookshelves/new" class="btn btn-primary ml-auto"><i class="fas fa-plus"></i> Add bookshelf</a>
        {{#if bookshelves.length}} 
        <div class="bookshelves">
            <h1>Bookshelves:</h1>
            {{#each bookshelves}}
            <div class="oneShelf">
                <h2><a data-toggle="collapse" href="#id-{{@key}}" role="button" aria-expanded="false" aria-controls="id-{{@key}}">{{this.name}}</a></h2>
                <div id="id-{{@key}}" class="bookwrapper collapse">
                    {{!-- <div class="books"> --}}
                        <div class="row buttons">
                            <div id="{{@key}}" class="col-md-12 col-md-offset-1" style="float:right; bottom: 10px;z-index: 999;">
                                <button class="btn btn-warning glyphicon glyphicon-pencil btnEdit"><i class="fas fa-plus"></i> Add Books</button>
                                {{#ifCond @index}}
                                    <button class="btn btn-danger glyphicon glyphicon-trash btnExc"><i class="far fa-trash-alt"></i> Delete</button>
                                {{/ifCond}}
                            </div>
                        </div>
                        {{#if this.books.length}}
                        {{#each books as |book|}}
                        <div class="book col-2">
                            <a href="/books/{{this._id}}"><img class="card-img-top" src="{{image}}" alt="Card image cap"></a>
                            <h3><a href="/books/{{this._id}}" class="bookTitle"> {{this.title}} </a></h3>
                        </div>
                        {{/each}}
                        {{else}}
                        <p>No books yet! Try adding one.</p>
                        {{/if}} 
                    {{!-- </div> --}}
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
</div>
{{/content}}
{{#content "scripts" mode="append"}}
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js"></script>
        <script src="/public/scripts/bookshelves.js"></script>
{{/content}}
{{/extend}}