{{!-- MULTIPLE BOOKSHELVES DISPLAYED --}}
{{#extend "loggedIn"}}
{{#content "content"}}
{{#if bookshelves.length}}
<ul class="bookshelves">
    <h1>Bookshelves:</h1>
    {{#each bookshelves}}
    <div>
    <li><a href="#"><h2>{{this.name}}</h2></a>
        {{#if this.books.length}}
        {{#each this.books}}
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{image}}" alt="Card image cap">
        <div class="card-body">
            <h1 id="bookTitle"> {{this.title}} </h1>
            <h3 id="author"> {{this.author}} </h2>
            <p>Rating: {{this.rating}}</p>           
        </div>
        </div>
        {{/each}}
        {{/if}}
    </li>
    {{/each}}
</ul>
{{/if}}
{{/content}}
{{/extend}}