{{#extend "loggedIn"}}
{{#content 'styles' mode='append'}}
<link rel="stylesheet" href="/public/css/search.css">
{{/content}}
{{#content 'content'}}
<div class="container">
    {{#if empty}}
    <div class="jumbotron mt-3">
        <h1 class="display-4">No Books</h1>
        <p class="lead">Sorry, no book found in "{{query_str}}"</p>
        <hr class="my-4">
        {{#if isMe}}
        <p>Please try to add some books here.</p>
        <a class="btn btn-primary" href="/books/new?bookshelf={{query_str}}" role="button">Add Books</a>
        {{/if}}
    </div>
    {{else}}
        {{#if books}}
        <div class="jumbotron mt-3">
            <h1 class="display-4">Books</h1>
            {{#if isMe}}
            <a class="btn btn-primary float-right" href="/books/new?bookshelf={{query_str}}" role="button">Add Books</a>
            {{/if}}
            <p class="lead"> In "{{query_str}}"</p>
            <hr class="my-4">
            <ul class="list-unstyled">
            {{#each books}}
                <li class="media bg-white shadow rounded p-2 mt-3">
                    <div class="img-thumbnail mr-3 book-cover d-flex align-items-center justify-content-center">
                        <img class="img-fluid mt-auto mb-auto ml-0 mr-0" src="{{#if this.image}}{{this.image}}{{else}}https://placeimg.com/480/480/any{{/if}}" alt="Generic placeholder image">
                    </div>
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">{{this.title}}</h5>
                        <div>
                            <p>
                                Author: {{this.author}}
                            </p>
                        </div>
                        <div>
                            <a href="/books/{{this._id}}" class="btn btn-outline-primary">Detail</a>
                        </div>
                    </div>
                </li>
            {{/each}}
            </ul>
        </div>
        {{/if}}
    {{/if}}
</div>
{{/content}}
{{/extend}}